@import url(./variables.css);
@import url(../js/views/views.css);
@import url(../js/viewControllers/viewController.css);
/* 
*{
  border: 1px solid black;
} */

*{
  box-sizing: border-box;
}

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.appContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  height: 100vh;
  background-color: var(--background-color);
}

button{
  min-width: 60px;
  border-style: none;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}