.scoresViewController{
  
  width: 90%;
  max-width: 810px;
}
.scoresViewController_contentContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  justify-content: center;

}
.scoresViewController_scoresTable{
  margin: auto;
  border-collapse: collapse;  
}
.scoresViewController_scoresTable th{
  width: 24%;
  background-color: var(--primary-color);
  padding: 1rem 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.scoresViewController_scoresTable td{
  max-width: 24vw;
  padding: 1rem 1.5rem;
  border: 1px solid black;
  text-align: center;
}