.cardView_mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.73); 
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.73);
  user-select: none;
}
.cardView_disabled{
  pointer-events: none;
}
.cardView_discovered{
  pointer-events: none;
  border: 5px solid #D4AF37;
}
/* #D4AF37 */