@import url(./game/gameViewController.css);
@import url(./menu/menuViewController.css);
@import url(./scores/scoresViewController.css);

.mainContainer{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  position: absolute;
  height: 100vh;
  margin: 0 auto;
}

.navigationBar{
  align-self: flex-start;
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 900px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contentContainer{
  width: 100%;
  height: calc(100% - 60px);
}

.viewController_titleLbl{
  width: 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: calc(50% - 75px);
}